<!DOCTYPE html>

<html>
<head>
        <title>CYBRIANT - SOC PORTAL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% extends 'layout.html' %}

{% block body %}
<div align="middle">
        <a class="btn btn-lg btn-warning float-center"  href="/taskQueue">Analyst Login</a>
        <a class="btn btn-lg btn-warning float-center" href="/mTaskQueue">Manager Login</a>
        <a class="btn btn-lg btn-warning float-center" href="/adminTaskList">Admin Login</a>
</div>


{% endblock %}
