{% extends 'layout.html' %}
{% block body %}

    <div class="container-fluid">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 20px">
        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-3">
            <img src="/static/Cybriant_Logo.png" height="60px" width="300px">
        </div>
    </div>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="font-family: 'Lato', sans-serif; padding-left: 4%; padding-top: 50px">
            <h4 color="#1C384B">Skillsets</h4>
        </div>
    </div>
    <br>
    
    {% from "includes/_formhelpers.html" import render_field %}
    
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
    	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="font-family: 'Lato', sans-serif; padding-left: 4%; padding-top: 50px">
    		<h5 color="#1C384B">Skillsets</h5>
    	</div>
    </div>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-family: 'Lato', sans-serif; padding-left: 4%; padding-top: 50px">
    		<h1 color="#1C384B">Name</h1>
    	</div>
    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-family: 'Lato', sans-serif; padding-left: 4%; padding-top: 50px">
    		<h1 color="#1C384B">Category Information</h1>
    	</div>
    </div>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6>
    		<table id="skillsetsTable" name="skillsetsTable" class="table table-hover" cellspacing="10" width="100%" style="font-family: 'Lato', sans-serif; margin-left: auto; margin-right: auto; color: #1C384B;">
    			<tbody id="categoryTableBody" style="margin-bottom: 10px;">
    				{% for skillsets in skillsets %}
    				<tr id={{categories[0]}} name="row{{loop.index}}" style="background-color: #63C9E4; color: white; font-size: 18;  border-top: 2px solid white">
    					<td style="padding-left: 10px;"> {{categories[2]}}</td>
    				</tr>
    				{% endfor %}
    			</tbody>
    		</table>
    	</div>
    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    		
    	</div>
    </div>
    
    </div>
    </br>
    
    <div>
      <div class="float-left">
        <button class="btn btn-danger" name="backButton">Back</button>
      </div>
      <div class="float-right">
        <button class="btn btn-success" name="createButton">Create</button>
      </div>
 {% endblock %}
